body{
    margin: auto;
    background-color: darkgray;
}

h1{
    text-align: center;
}
ul {
    list-style-type: none;
    text-align: center; 
    
}

.nav_bar{
    display: inline;
    padding: 100px;

}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: #7509ac
}

.life {
    text-align: center;
    width:1000px;
    margin: auto;
    border: 1px solid yellow;
}

.life p{
    color: rebeccapurple;
}

.life .basket{
    color: yellow;
}

.career{
    text-align: left;
    width: 1000px;
    margin: auto;
}

.stats{
    border:1px solid yellow;
    padding:30px;
}
.mamba{
    border:1px solid rebeccapurple;
}
.mamba h2{
    text-align: center;
    color: rebeccapurple;
}
.mamba ul{
    list-style: none;
}